@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 font-sans antialiased;
  }
}

.glass-panel {
  @apply bg-slate-800/50 backdrop-blur-md border border-slate-700/50 shadow-xl;
}